{% extends 'main.html' %}
{% load static %}
{% block title %}Travel{% endblock %}
{% block css %}

<link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="../static/css/main.css" rel="stylesheet" media="all">
{% endblock %}
{% block bootstrap %}{% endblock %}
{% block content %}

    <div class="page-wrapper bg-img-1 p-t-165 p-b-100" style="background-image: url('{{ travel.image.url }}')">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">{{ travel.name }}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab1">
                        </div>
                        <div class="tab-pane" id="tab2">
                        </div>
                        <div class="tab-pane active" id="tab3">
                                <div class="input--style-1 row row-space"style="margin-bottom: 20px">
                                    <div class="col-2">
                                        <div class="">
                                            <label class="label">From:</label>
                                            <p class="input--style-1">{{ travel.city_from }}, {{ travel.city_from.country }}</p>
                                        </div>
                                    </div>
                                <div class="col-2">
                                    <label class="label">To:</label>
                                    <p class="input--style-1">{{ travel.city_to }}, {{ travel.city_to.country }}</p>
                                </div>
                                </div>
                                <div class="row row-space"style="margin-bottom: 20px">
                                    <div class="col-2">
                                        <div class="">
                                            <label class="label">Airport:</label>
                                            <p class="input--style-1">{{ travel.airport_from }}</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label class="label">Destination-Airport:</label>
                                        <p class="input--style-1">{{ travel.airport_to }}</p>
                                    </div>
                                </div>
                                <div class="row row-space"style="margin-bottom: 20px">
                                    <div class="col-2">
                                        <div class="">
                                            <label class="label">Hotel:</label>
                                            <p class="input--style-1">{{ travel.hotel.name }}</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label class="label">Stars:</label>
                                        <p class="input--style-1">{{ travel.hotel.standard }}</p>
                                    </div>
                                </div>
                                <div class="row row-space"style="margin-bottom: 20px">
                                    <div class="col-2">
                                        <div class="">
                                            <label class="label">Date departure:</label>
                                            <p class="input--style-1">{{ travel.departure_date }}</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label class="label">Date return:</label>
                                        <p class="input--style-1">{{ travel.return_date }}</p>
                                    </div>
                                </div>
                                <div class="row row-space"style="margin-bottom: 20px">
                                    <div class="col-2">
                                        <div class="">
                                            <label class="label">Adult-Price:</label>
                                            <p class="input--style-1">{{ travel.price_adult }}$</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label class="label">Children-Price:</label>
                                        <p class="input--style-1">{{ travel.price_child }}$</p>
                                    </div>
                                </div>
                                <div class="">
                                        <label class="label">Description:</label>
                                        <p class="input--style-1">{{ travel.description }}</p>
                                </div>

                                <button class="btn-submit" onclick="window.location.href = '{% url 'order' pk%}'" >Book</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="../static/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="../static/vendor/select2/select2.min.js"></script>
    <script src="../static/vendor/datepicker/moment.min.js"></script>
    <script src="../static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="../static/js/global.js"></script>
{% endblock %}